/* Cài đặt chung */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Thay đổi thành min-height để giữ cho nội dung hiển thị trung tâm */
}
  
.container {
    background-color: #fff;
    padding: 60px;
    border-radius: 25px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    max-width: 950px; /* Tăng kích thước tối đa cho Ipad màn hình ngang */
    position: relative; /* Cho phép định vị các phần tử bên trong */
    width: 100%; /* Thêm thuộc tính width để giữ cho nội dung hiển thị trung tâm */
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #333;
}

h2 {
    font-size: 24px;
    color: #666;
}

/* Đồng hồ */
#clock {
    font-size: 96px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1; /* Thêm line-height */
}

/* Tên nhân viên */
.name-input {
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn giữa theo chiều ngang */
    margin-bottom: 30px;
}

label {
    margin-bottom: 10px;
}

#employeeName {
    padding: 15px 20px;
    font-size: 20px; /* Chữ to hơn */
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    width: 100%;
    max-width: 400px; /* Rộng hơn */
}

/* Căn giữa cho dropdown chọn nhân viên */
select#employeeName {
    margin-top: 5px; /* Tăng khoảng cách giữa label và dropdown */
    font-size: 20px; /* Chữ to hơn */
    width: 100%;
}

/* Khoảng cách giữa các mục trong dropdown */
select#employeeName option {
    padding: 10px 0; /* Thêm padding trên và dưới cho các mục trong dropdown */
}

/* Nút bấm */
.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.check-in,
.check-out {
    background-color: #007bff;
    color: #fff;
    padding: 20px 40px;
    font-size: 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.check-in:hover,
.check-out:hover {
    background-color: #0056b3;
}

/* Popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 10; /* Đảm bảo popup hiển thị trên các phần tử khác */
}

#popup-message {
    font-size: 24px;
    margin-bottom: 20px;
}

#close-popup {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#close-popup:hover {
    background-color: #0056b3;
}
